<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Educational Harmonie</title>
    <link rel="stylesheet" type="text/css" href="css/styles2.css">
</head>
<body>

    <img src="/ruta/imagen/logo.png" alt="Logo de Educational Harmonie">
    <h1>Bienvenido a Educational Harmonie</h1>
    <p>¡Gestiona la disciplina educativa de manera efectiva y organizada!</p>
    </div>
    <ul>
            <li><a th:href="@{/Login}">Iniciar sesión</a></li>
            <li><a th:href="@{/Registro}">Registrarse</a></li>
        </ul>
    </div>
</body>
</html>
