body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdff;
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/ruta/a/imagen/fondo.jpg');
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

.outer-container {
    position: relative;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(209, 209, 209);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #000000;
}

.logo img {
    max-width: 100px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0 5px;
    color: #000000;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddddda9;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #22ddae;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #22ddae;
}
